In [1]:
import numpy as np
import xarray as xr
import pandas as pd

import sys
sys.path.append('../../resources/library/')
import tropical_cyclone as tc

In [2]:
ds = xr.open_mfdataset('../../data/template.nc')
ibtracs = pd.read_csv('../../data/ibtracs/filtered/ibtracs_main-tracks_6h_1980-2021_TS-NR-ET-MX-SS-DS.csv', index_col=0)

/tmp/ipykernel_843/1077671213.py:2: DtypeWarning: Columns (162,163) have mixed types. Specify dtype option on import or set low_memory=False.
  ibtracs = pd.read_csv('../../data/ibtracs/filtered/ibtracs_main-tracks_6h_1980-2021_TS-NR-ET-MX-SS-DS.csv', index_col=0)

In [3]:
# get latitudes and longitudes
lats, lons = ds['lat'].data, ds['lon'].data

In [4]:
georef = ibtracs.copy()
georef = georef[['ISO_TIME','SID','LAT','LON']]
georef['RLAT'] = tc.georef.round_to_grid(georef['LAT'])
georef['RLON'] = tc.georef.round_to_grid(georef['LON'])
georef['YLAT'] = [np.argwhere(lats==l)[0][0] for l in georef['RLAT']]
georef['XLON'] = [np.argwhere(lons==l)[0][0] for l in georef['RLON']]
georef

,ISO_TIME,SID,LAT,LON,RLAT,RLON,YLAT,XLON
0,1980-03-16 00:00:00,1980076N06148,6.00000,147.800,6.00,147.75,256,191
1,1980-03-16 06:00:00,1980076N06148,6.07535,147.238,6.00,147.25,256,189
2,1980-03-16 12:00:00,1980076N06148,6.10000,146.800,6.00,146.75,256,187
3,1980-03-16 18:00:00,1980076N06148,6.04945,146.512,6.00,146.50,256,186
4,1980-03-17 00:00:00,1980076N06148,6.00000,146.000,6.00,146.00,256,184
...,...,...,...,...,...,...,...,...
86188,2021-12-16 06:00:00,2021349N05108,4.40000,105.100,4.50,105.00,262,20
86189,2021-12-16 12:00:00,2021349N05108,4.30000,104.500,4.25,104.50,263,18
86190,2021-12-16 18:00:00,2021349N05108,4.20000,103.000,4.25,103.00,263,12
86191,2021-12-17 00:00:00,2021349N05108,4.20000,103.000,4.25,103.00,263,12
86192,2021-12-17 06:00:00,2021349N05108,4.00000,101.900,4.00,102.00,264,8

In [5]:
georef.to_csv('../../data/ibtracs/georef.csv')